@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    "Slavyanska" Street, No: 89<br />
    Plovdiv, Bulgaria<br />
    <abbr title="Phone">Phone: 0883 300 672</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:krasimir.ts.petkov@gmail.com">krasimir.ts.petkov@gmail.com</a><br />
</address>