@model IEnumerable<CSharpBlog.Models.Post>

@{
    ViewBag.Title = "Tag";
}

<div class="row">
    <div class="col-xs-12">
        <img src="~/Content/Images/layout-img.png" class="img-responsive img-header" />
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>Search by Tag: @ViewBag.Tag</h2>
        @foreach (var item in Model)
        {
            { Html.RenderPartial("_Post", item); }
        }
    </div>
    <div class="col-md-3">
        @{Html.RenderPartial("_Sidebar", (IEnumerable<CSharpBlog.Models.Category>)ViewBag.C);}
    </div>
</div>